.group-names {
  margin: 5% 0%;
  padding: 2%;
  border: solid 0.1em #5cbbbe;
  border-radius: 0.1em;
  height: 90%;
}

.groupName {
  margin: 5% 2%;
  background-color: #5cbbbe;
  padding: 2%;
  border-radius: 0.5em;
  color: #fbf060;
  color: white;
}

.groupName:hover {
  background-color: #62b2b3;
  color: #c4b80f;
	cursor: pointer;
}

.selectedChannelStyle {
  background-color: #356b6d;
}
