.groupName {
  margin: 5% 2%;
  background-color: #5cbbbe;
  padding: 2%;
  border-radius: 0.5em;
  color: #fbf060;
  color: white;
}

.groupName:hover {
  background-color: #4ea0a2;
  color: #d2c951;
}

.selectedChannelStyle {
  background-color: #356b6d;
}
