.roomCreationSection {
  background-color: rgb(243, 207, 46);
  padding: 1em 1em 1em 1em;
  margin: 1em 1em 1em 1em;
}

.sendMessageSection {
  background-color: rgb(200, 119, 44);
  padding: 1em 1em 1em 1em;
  margin: 1em 1em 1em 1em;
}

.roomBoards {
  background-color: rgb(243, 207, 46);
  padding: 1em 1em 1em 1em;
  margin: 1em 1em 1em 1em;
}

.roomBoard {
  background-color: rgb(200, 119, 44);
  padding: 1em 1em 1em 1em;
  margin: 1em 1em 1em 1em;
}
