.newChannelPopUp {
  position: absolute;
  transform: translateY(15em);
  padding: 0em;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.5em 1.5em 0 rgba(0, 0, 0, 1), 0 0.6em 2em 0 rgba(0, 0, 0, 0.7);
  border-radius: 0.3em;
}

.popUpHeader {
  display: flex;
  flex-direction: row;
}

.headerTitle {
  padding: 1em;
}

.title1 {
  background-color: #fcf061;
  border-radius: 0em 0em 2em 0em;
}

.title2 {
  background-color: #d39bc6;
  border-radius: 0em 0em 0em 2em;
}

.title1Selected {
  background-color: #fcf061;
}

.title2Selected {
  background-color: #d39bc6;
}

.cancelButton {
  text-align: center;
  position: absolute;
  padding: 0.2em 0em;
  width: 100%;
  background-color: #5cbbbe;
  bottom: 0;
}

.cancelButton:hover {
  cursor: pointer;
  background-color: #4c9a9c;
}
