.chatBox {
  margin: auto;
  width: 85%;
  height: 85%;
  background-color: #5cbbbe;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.5), 0 0.2em 1em 0 rgba(0, 0, 0, 0.2);
}

.chatGroups {
  background-color: #4ea0a2;
  padding: 2%;
  width: 30%;
  display: flex;
  flex-flow: column;
}

.chatDisplay {
  width: 70%;
  padding: auto;
}

.searchGroup {
  border: 0;
  background-color: #5cbbbe;
  padding: 2%;
  color: white;
}

.newChannelButton {
  margin: 1em 0 0 0;
  padding: 0.3em 0.3em;
  border-radius: 0.3em;
  background-color: #5cbbbe;
  font-size: small;
	color: #e9dd5a;
}

.newChannelButton:hover {
  background-color: #2e7a7c;
  cursor: pointer;
}

.chatDisplay {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.messagesBox {
  height: 90%;
  width: 90%;
  background-color: #4ea0a2;
  margin: 5% 5% 1% 5%;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.messageScroll {
  height: 100%;
  width: 100%;
}
