.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #463366;
  }

  .container > .disk {
    width: 50%;
    max-width: 40vh;
    margin-bottom: 50px;;
  }
  
  .container > .logo {
    width: 50%;
    max-width: 40vh;
    margin-bottom: 5px;
  }