.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  --color-light: aquamarine;
  --color-dark: #463366;
  text-align: center;
  width: 20%;
  margin-left: 50px;
}

.leaderboard .time {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25em;
}

.leaderboard .time > button {
  border: 1px solid var(--color-dark);
  padding: 0.4em 2em;
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-size: 15px;
}

.leaderboard .time > button:hover {
  background-color: var(--color-light);
  color: var(--color-dark);
}

.leaderboard > .page-header {
  margin-top: 0;
}

.active {
  background-color: var(--color-dark);
  color: var(--color-light);
}

#profile {
  margin-top: 3em;
  color: white;
}

#profile .flex {
  display: flex;
  justify-content: space-between;
  gap: 5em;
  text-align: left;
  margin-left: 20em;
}

#profile .flex .item {
  display: flex;
  align-items: center;
  gap: 3em;
}

#profile .flex img {
  width: 4em;
  border-radius: 50%;
}

#profile .flex .info {
  font-size: 1em;
  padding: 1em;
  color: aquamarine;
}

#profile .flex .info h3 {
  margin-bottom: 5px;
}

#profile .flex .info span {
  font-size: 0.8em;
  margin: 0;
}

#profile .score {
  display: flex;
  align-items: center;
  font-size: 15px;
}
#profile p {
  margin-left: 10px;
}

.rank {
  font-size: 20px;
}

@media (min-width: 1000px) {
  .leaderboard {
    margin-top: 200px;
  }
  #profile .flex {
    display: flex;
    justify-content: space-between;
    gap: 2em;
  }
}

@media (max-width: 500px) {

  #profile .flex {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin-left: 150px;
  }
}
