.mainTitle2 {
  display: flex;
  flex-direction: column;
  background-color: #d39bc6;
  margin-bottom: 2em;
}

.mainTitle2 > .inputMain {
  margin: 1em 2em;
  background-color: #5cbbbe;
}

.mainTitle2 > .inputMain > .friends {
  display: flex;
  flex-direction: column;
}

.mainTitle2 > .inputMain > .friends > .friendCard {
  display: flex;
  flex-direction: row;
}

.mainTitle2 > .dropdown {
  margin: 1em 2em;
}

.mainTitle2 > .dropdown > .dropdown-toggle {
  background-color: #5cbbbe !important;
  color: black !important;
}

.mainTitle2 > .dropdown > .dropdown-menu {
  background-color: #5cbbbe !important;
}

.mainTitle2 > .dropdown > .dropdown-menu > .dropdown-item:hover {
  background-color: #438b8d !important;
}
