@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One");

* > * {
  font-family: "Rubik Mono One", regular;
}

.page {
  background-color: black;
  width: 100%;
  margin: 0;
}

.testAPI {
  margin: 3em;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.page-header {
  display: flex;
  align-items: center;
  width: 50%;
  color: white;
  margin-top: 17.5vh;
  font-size: large;
}

.page-header > .title {
  margin-left: 20px;
}
